extends layout

block content
    .row
        .col-md-1.details-img
            img(src=logoUrl, style={'min-width':'100%','max-width':'100%','max-height':'100%'})
        .col-md-11
            h3 #{name} - $#{formatMoney(lastPrice)}, 
                if (change > 0)
                    span(style={color:'#4CAF50'}) #{changeFormatted} (#{percentChangeFormatted})
                else if (change < 0)
                    span(style={color:'#F44336'}) #{changeFormatted} (#{percentChangeFormatted})
                else
                    span(style={color:'#9E9E9E'}) #{changeFormatted} (#{percentChangeFormatted})
            h5.text-muted #{exchange}: #{ticker}
    .row
        .col-md-12
            hr
            canvas(id='myChart')
            script.
                window.onload = function() {
                  var ctx = document.getElementById("myChart").getContext('2d');
                  var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                      labels: ["Stock Price"],
                      datasets: [{
                        label: 'Stock Price - 1d',
                        fill: 2,
                        lineTension: 0,
                        data: !{chartData},
                        borderColor: [
                          !{chartColor}
                        ],
                        borderWidth: 2,
                        pointRadius: 0
                      }, {
                        label: 'Previous Close',
                        fill: false,
                        data: !{baseline},
                        borderColor: [
                          '#212121'
                        ],
                        borderDash: [10, 5],
                        borderWidth: 1,
                        pointRadius: 0
                      }]
                    },
                    options: {
                      scales: {
                        xAxes:[{
                          type: 'time',
                          display: true,
                          scaleLabel: {
                            display: true,
                            labelString: "Time"
                          }
                        }],
                        yAxes: [{
                          scaleLabel: {
                            display: true,
                            labelString: "Price ($)"
                          }
                        }]
                      }
                    }
                  })
                    var ct = document.getElementById("yearChart").getContext('2d');
                    var yearChart = new Chart(ct, {
                      type: 'line',
                      data: {
                        labels: ["Stock Price"],
                        datasets: [{
                          label: 'Stock Price - 1Y',
                          fill: 2,
                          lineTension: 0,
                          data: !{chartYear},
                          borderColor: [
                            '#212121'
                          ],
                          borderWidth: false,
                          pointRadius: 0
                        }]
                      },
                      options: {
                        scales: {
                          xAxes: [{
                            type: 'time',
                            display: true,
                            scaleLabel: {
                              display: true,
                              labelString: "Date"
                            }
                          }],
                          yAxes: [{
                            scaleLabel: {
                              display: true,
                              labelString: "Price ($)"
                            }
                          }]
                        },
                        annotation: {
                          annotations: !{annotations}
                        }

                      }
                    })
                };
    .row
        .col-md-6
            .card(style={margin: '10px 0 10px 0'})
                    .card-body
                        h5.card-title Market Data
                        hr
                        table.card-text.w-100
                            tbody
                                tr
                                    td Open
                                    td.text-right $#{formatMoney(open)}
                                tr
                                    td High
                                    td.text-right $#{formatMoney(high)}
                                tr
                                    td Low
                                    td.text-right $#{formatMoney(low)}
                                tr
                                    td Beta
                                    td.text-right #{keyStats.beta}
                                tr
                                    td 52 Week High
                                    td.text-right $#{formatMoney(keyStats.week52high)}
                                tr
                                    td 52 Week Low
                                    td.text-right $#{formatMoney(keyStats.week52low)}
                                tr
                                    td Market Capitalization
                                    td.text-right $#{formatMoney(keyStats.marketcap)}
                                
        .col-md-6
            .card(style={margin: '10px 0 10px 0'})
                    .card-body
                        h5.card-title Financials (Quarterly)
                        h6.card-subtitle.text-muted Last reported: #{financials.reportDate}
                        hr
                        table.card-text.w-100
                            tbody
                                tr
                                    td Revenue
                                    td.text-right $#{formatMoney(financials.totalRevenue)}
                                tr
                                    td Operating Revenue
                                    td.text-right $#{formatMoney(financials.operatingRevenue)}
                                tr
                                    td Cost of Revenue
                                    td.text-right $#{formatMoney(financials.costOfRevenue)}
                                tr
                                    td Net Income
                                    td.text-right $#{formatMoney(financials.netIncome)}
                                tr
                                    td Operating Income
                                    td.text-right $#{formatMoney(financials.operatingIncome)}
                                tr
                                    td Operating Expenses
                                    td.text-right $#{formatMoney(financials.operatingExpense)}
                                tr
                                    td Total Assets
                                    td.text-right $#{formatMoney(financials.totalAssets)}
                                tr
                                    td Total Liabilities
                                    td.text-right $#{formatMoney(financials.totalLiabilities)}
                                tr
                                    td Total Cash
                                    td.text-right $#{formatMoney(financials.totalCash)}
                                tr
                                    td Total Debt
                                    td.text-right $#{formatMoney(financials.totalDebt)}
                                tr
                                    td Cash Flow
                                    td.text-right $#{formatMoney(financials.cashFlow)}
    .row
        .col-md-12
            h3 News about #{ticker}
            hr
    .row
        each article in news
            .col-md-4
                .card(style={margin: '10px 0 10px 0'})
                    .card-body
                        h5.card-title 
                            a(style={color: 'inherit'},href=article.url) #{article.headline}
                        h6.card-subtitle.text-muted #{article.datetime.substring(0,10)}
                        hr
                        p.card-text #{article.summary}
                        a.card-link(href=article.url) Link to article

    .row
        .col-md-12
            hr
            canvas(id='yearChart')

                
                


