extends layout


block content
    .container
        //.jumbotron
        br
        br
        .row.align-items-center
            .col-4
                .row.justify-content-center
                    if spChg > 0
                        .col-6
                            h3 #[strong S&P 500]
                            h2(style={color:'#4CAF50'}).align-self-end #{spClose}
                            h6(style={color: '#4CAF50'}).mt-0.align-self-end +#{spChg} (+#{sp})
                        img(src='/img/arrow-up.svg').d-flex.align-self-center.mr-3.col-3

                    else if spChg < 0
                        .col-6
                            h3 #[strong S&P 500]
                            h2(style={color: '#F44336'}).align-self-end #{spClose}
                            h6(style={color: '#F44336'}).mt-0.align-self-end #{spChg} (#{sp})
                        img(src='/img/arrow-down.svg').d-flex.align-self-center.mr-3.col-3

                    else
                        .col-6
                            h3 #[strong S&P 500]
                            h2(style={color: '#9E9E9E'}).align-self-end #{spClose}
                            h6(style={color: '#9E9E9E'}).mt-0.align-self-end #{spChg} (#{sp})

            .col-4
                .row.justify-content-center
                    if djiaChg > 0
                        .col-6
                            h3 #[strong DOW]
                            h2(style={color: '#4CAF50'}).align-self-end #{djiaClose}
                            h6(style={color: '#4CAF50'}).mt-0.align-self-end +#{djiaChg} (+#{djia})
                        img(src='/img/arrow-up.svg').d-flex.align-self-center.mr-3.col-3

                    else if djiaChg < 0
                        .col-6
                            h3 #[strong DOW]
                            h2(style={color: '#F44336'}).align-self-end #{djiaClose}
                            h6(style={color: '#F44336'}).mt-0.align-self-end #{djiaChg} (#{djia})
                        img(src='/img/arrow-down.svg').d-flex.align-self-center.mr-3.col-3

                    else
                        .col-6
                            h3 #[strong DOW]
                            h2(style={color: '#9E9E9E'}).align-self-end #{djiaClose}
                            h6(style={color: '#9E9E9E'}).mt-0.align-self-end #{djiaChg} (#{djia})


            .col-4
                .row.justify-content-center
                    if nsdqChg > 0
                        .col-6
                            h3 #[strong NASDAQ]
                            h2(style={color: '#4CAF50'}).align-self-end #{nsdqClose}
                            h6(style={color: '#4CAF50'}).mt-0.align-self-end +#{nsdqChg} (+#{nsdq})
                        img(src='/img/arrow-up.svg').d-flex.align-self-center.mr-3.col-3

                    else if nsdqChg < 0
                        .col-6
                            h3 #[strong NASDAQ]
                            h2(style={color: '#F44336'}).align-self-end #{nsdqClose}
                            h6(style={color: '#F44336'}).mt-0.align-self-end #{nsdqChg} (#{nsdq})
                        img(src='/img/arrow-down.svg').d-flex.align-self-center.mr-3.col-3

                    else
                        .col-6
                            h3 #[strong NASDAQ]
                            h2(style={color: '#9E9E9E'}).align-self-end #{nsdqClose}
                            h6(style={color: '#9E9E9E'}).mt-0.align-self-end #{nsdqChg} (#{nsdq})

        br
        br

        if dataLoad == false
            p(style={'text-align': 'center'}) Market Data Failed to Load - Please Reload in a Moment
