extends ../layout

block content
  .alert.alert-warning(role="alert") Be careful, any changes you make here are final once you click 'Save' or 'Delete'. You can always re-edit or re-add transactions though!
  .table-responsive
    table.table
      thead
        tr
          th(scope="col") Name
          th(scope="col") Action
          th(scope="col") Ticker
          th(scope="col") Date
          th(scope="col") Used Cash?
          th.text-right(scope="col") Value
          th.text-right(scope="col") Shares
          th(scope="col") Edit
          th(scope="col") Delete
      tbody
        each transaction in transactions
          tr
            td #{securityNames[transaction.ticker]}
            td #{transaction.type}
            td #{transaction.ticker === "$" ? "" : transaction.ticker}
            td #{transaction.dateTransacted.toISOString().substring(0, 10)}
            td #{transaction.ticker === "$" ? "" : (transaction.deductFromCash ? 'Yes' : 'No')}
            td.text-right #{transaction.value}
            td.text-right #{transaction.ticker === "$" ? "" : transaction.numShares}
            td
              a.href.btn.btn-primary(href=`/portfolio/${portfolioId}/transaction/edit/${transaction.id}`) Edit
            td
              form(action="/portfolio/#{portfolioId}/transaction/delete/#{transaction.id}", method="POST")
                button.btn.btn-danger(type="submit") Delete
  a.btn.btn-primary.mr-1(href="/portfolio/#{portfolioId}/transaction/edit") Add Transaction
  a.btn.btn-primary.mr-1(href="/portfolio/#{portfolioId}/transaction/export") Export CSV
  button.btn.btn-primary(type='button', data-toggle='modal', data-target='#uploadModal')
      | Import CSV
  div.modal.fade(id='uploadModal', tabindex='-1', role='dialog', aria-labelledby='uploadModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
          .modal-content
              form(action='transaction/import', method='post', enctype='multipart/form-data')
                  .modal-header
                      h5.modal-title(id='uploadModalLabel') Import CSV
                      button.close(type='button', data-dismiss='modal', aria-label='Close')
                          span(aria-hidden='true') ×
                  .modal-body
                      .form-group
                          label(for='subject') Choose a valid CSV file to upload. This will overwrite all existing transactions, so be careful.
                          br
                          input(type='file', name='file')
                  .modal-footer
                      button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                      button.btn.btn-success(type='submit') Send