extends ../layout

block content
  if validChart
    .card.mb-3
      .card-body
        canvas(id='normChart')
  else
    br


  .card.mb-3
    .card-body
      h5.card-title Holdings
      .table-responsive
        table.table.mb-0
          thead
            tr
              th(scope="col") Name
              th(scope="col") Ticker
              th(scope="col") Last
              th(scope="col") Change
              th(scope="col") Shares
              th(scope="col") Cost
              th(scope="col") Value
              th(scope="col") Gain
              th(scope="col") Gain %
              th(scope="col") Day's gain
              th(scope="col") Overall Return
          tbody
            tr
              td Vanguard Total Stock Market
              td VTI
              td 145.34
              td.green +0.06 (0.04%)
              td 23.2120
              td 2,899.10
              td 3,373.63
              td.green +474.53
              td.green +16.37%
              td.green +1.39
              td.green +16.37%
            tr
              td Vanguard Total Intl
              td VXUS
              td 60.57
              td.red -0.22 (-0.36%)
              td 38.5710
              td 2,008.27
              td 2,373.63
              td.green +327.97
              td.green +16.33%
              td.red -8.49
              td.green +16.37%
            tr
              td Vanguard Total Bond
              td BND
              td 80.95
              td.green +0.22 (0.27%)
              td 5.0110
              td 409.58
              td 405.64
              td.red -3.94
              td.red -0.96%
              td.green +1.10
              td.red -0.96%
            tr
              td Vanguard Total Int Bond
              td BNDX
              td 54.20
              td.red -0.01 (-0.02%)
              td 4.0040
              td 218.03
              td 217.02
              td.red -1.01
              td.red -0.47%
              td.red -0.04
              td.red -0.47$
            tr
              td Cash
              td $
              td $15.60
              td
              td
              td
              td $15.60
              td
              td
              td
              td
            tr(style="border-top: 2px solid black")
              td Portfolio:
              td
              td
              td.red -6.03 (-0.09%)
              td
              td $5,534.99
              td $6,348.13
              td.green +$797.55
              td.green +14.41%
              td.red -$6.03
              td.green +14.41%

  .card
    .card-body
      h5.card-title Transactions
      .table-responsive
        table.table.mb-0
          thead
            tr
              th(scope="col") Name
              th(scope="col") Action
              th(scope="col") Ticker
              th(scope="col") Date
              th(scope="col") Used Cash?
              th.text-right(scope="col") Value
              th.text-right(scope="col") Shares
          tbody
            each transaction in transactions
              tr
                td #{securityNames[transaction.ticker]}
                td #{transaction.type}
                td #{transaction.ticker === "$" ? "" : transaction.ticker}
                td #{transaction.dateTransacted.toISOString().substring(0,10)}
                td #{transaction.ticker === "$" ? "" : (transaction.deductFromCash ? 'Yes' : 'No')}
                td.text-right #{transaction.value}
                td.text-right #{transaction.ticker === "$" ? "" : transaction.numShares}
    .card-footer.text-right
      a.btn.btn-primary.mr-1(href=`/portfolio/${portfolioId}/transaction/edit`) Add Transaction
      a.btn.btn-primary.mr-1(href="/portfolio/"+portfolioId+"/transactions") Edit Transactions


    if news && news.length > 0
      h3.mt-3 News about securities in your portfolio
      hr
      .row
        each article in news
          .col-md-4
            .card(style={margin: '10px 0 10px 0'})
              .card-body
                h5.card-title
                  a(style={color: 'inherit'},href=article.url) #{article.headline}
                h6.card-subtitle.text-muted #{article.datetime.substring(0, 10)}
                hr
                p.card-text #{article.summary}
                a.card-link(href=article.url) Link to article



      script.
        window.onload = function () {
          var ctx = document.getElementById("normChart").getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: ["Indices"],
              datasets: [{
                label: 'Portfolio Value',
                fill: false,
                lineTension: 0,
                data: !{portfolioChart},
                borderColor: [
                  !{chartColor}
                ],
                backgroundColor: [
                  'rgba(255,138,101, 0.3)'
                ],
                borderWidth: 2,
                pointRadius: 0
              }, ]
            },
            options: {
              spanGaps: true,
              title: {
                display: true,
                text: 'Portfolio Value'
              },
              scales: {
                xAxes: [{
                  type: 'time',
                  display: true,
                  scaleLabel: {
                    display: true,
                    labelString: "Date"
                  }
                }],
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  },
                  scaleLabel: {
                    display: true,
                    labelString: "Value ($)"
                  }
                }]
              }
            }
          })
        }



